
body {
  position: relative;
  margin: 0px;
}

form {
  width: 100%;
}

.statusBar {
  display: block;
  background-color: #2196F3;
  height: 40px;
  width: 100%;
  position: fixed;
  top: 0px;
  box-shadow: 0 8px 20px lightgray;
}

.scoutedTeams {
  position: absolute;
  width: 100%;
}

.scoutedTitle {
  background-color: #2196F3;
  height: 40px;
  width: 100%;
}

.scoutedData {
  height: 100%;
  width: 100%;
  padding: 10px;
}
#tableHead {
  background-color:;
}

td {
  vertical-align: top;
  padding-left: 5px;
  padding-right: 5px;
}

br {
  font-size: 20px;
}

a {
  font-family: 'Lato', sans-serif;
  color: #fff;
  font-weight: bold;
}

.submitButton {
  cursor: pointer;
  float: right;
}

h2 {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 0px;
}

.statusTitle {
  margin-left: 5px;
  margin-top: 3px;
  color: #fff;
}

h3 {
  font-family: 'Lato', sans-serif;
}

h4 {
  font-family: 'Lato', sans-serif;
}

b {
  font-weight: normal;
  font-family: 'Lato', sans-serif;
}

.errorMessage {
  font-weight: bold;
  color: #fff;
}

textarea {
  font-family: 'Lato', sans-serif;
  margin-left: 5px;
  border-style: none;
  border-bottom-style: solid;
  border-bottom-color: #d3d3d3;
  border-bottom-width: 2px;
  outline: none;
  resize: none;
  transition: 0.25s;
}

textarea:focus {
  resize: vertical;
  border-bottom-color: #2196F3;
}

input {
  font-family: 'Lato', sans-serif;
  margin-left: 5px;
  border-style: none;
  border-bottom-style: solid;
  border-bottom-color: #d3d3d3;
  outline: none;
  transition: 0.25s;
}

input:focus {
  border-bottom-color: #2196F3;
}

::selection {
  background: #2196F3;
  color: #fff;
}

::-moz-selection {
  background: #2916F3;
  color: #fff;
}
